<h1 class="font-semibold">All Todos</h1>

<%= shoelace :input,
  placeholder: "What needs to be done?", minlength: 2, maxlength: 128, size: "large", required: true,
  data: { controller: "items", reflex: "slChange->items#create", reflex_permanent: true } %>

<%= render partial: "item", collection: @items %>
